*,
*:before,
*:after {
	box-sizing: border-box;
}

.bg-image {
	background-image: url("dew-1507498_1920.jpg");
	filter: blur(8px);
	-webkit-filter: blur(8px);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	/* margin: 40px; */
	font-family: Arial, 'Open Sans', sans-serif;
	background-color: #3fa34d;
	color: #bcbcbc;
}

h1,
p {
	margin: 0 0 1em 0;
}

.wrapper {
	max-width: 1640px;
	margin: 0 20px;
	display: grid;
	grid-gap: 5px;

	/* border: 2px solid black; */
}

@media screen and (min-width: 100px) {
	.sidebar {
		float: left;
		width: 19.1489%;
		border: 1px solid black;
	}

	.sidebar h1 {
		border: 1px solid black;
		border-radius: 5px;
		/* background-color: #7b7b7b; */
		background-color: #2a9134;
		color: white;
		padding: 5px;
	}
	.sidebar ul {
		list-style: none;
		padding-left: 0;
	}

	.sidebar ul li {
		font-size: 18px;
		font-family: arial;
		margin: 8px;
		/* background-color: hsl(0, 1%, 96%); */
		padding: 7px;
		border-radius: 5px;
		display: inline-grid;
	}
	.sidebar a {
		color: green;
	}

	.content {
		float: right;
		width: 79.7872%;
		border: 1px solid black;
		line-height: 20px;
	}

	.content h1 {
		border: 1px solid black;
		border-radius: 5px;
		background-color: gray;
		color: white;
		padding: 5px;
	}

	.wrapper {
		margin: 0 auto;
		grid-template-columns: 1fr 3fr;
	}

	.header,
	.footer {
		grid-column: 1 / -1;
		clear: both;
		border: 1px solid black;
		text-align: center;
		background: gray;
	}

	.header h1 {
		font-size: 54px;
		color: black;
	}
}

.wrapper > * {
	color: black;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
	margin-bottom: 10px;
}

@supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin: 0;
	}
}
