*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	/* margin: 40px; */
	font-family: Arial, 'Open Sans', sans-serif;
	background-color: hsl(24, 63%, 28%);
	color: #bcbcbc;
}

h1,
p {
	margin: 0 0 1em 0;
}

.wrapper {
	max-width: 1640px;
	margin: 0 20px;
	display: grid;
	grid-gap: 30px;
}

@media screen and (min-width: 100px) {
	.sidebar {
		float: left;
		width: 19.1489%;
		border: 1px solid black;
		background-color: hsl(108, 40%, 58%);
		box-shadow: 8px 8px 5px black;
	}

	.sidebar h1 {
		border: 1px solid black;
		border-radius: 5px;
		/* background-color: #7b7b7b; */
		background-color: green;
		color: white;
		padding: 5px;
		box-shadow: 2px 2px 5px black;
	}
	.sidebar ul {
		list-style: none;
		padding-left: 0;
	}

	.sidebar ul li {
		font-size: 18px;
		font-family: arial;
		margin: 1px;
		padding: 6px;
		border-radius: 5px;
		display: inline-grid;
	}
	.sidebar a {
		color: black;
	}

	.content {
		float: right;
		width: 79.7872%;
		border: 1px solid black;
		line-height: 20px;
		background-color: hsl(108, 40%, 58%);
		box-shadow: 8px 8px 5px black;
	}

	.content h1 {
		border: 1px solid black;
		border-radius: 5px;
		background-color: green;
		color: white;
		padding: 5px;
		box-shadow: 2px 2px 5px black;
	}

	.wrapper {
		margin: 0 auto;
		grid-template-columns: 1fr 3fr;
	}

	.header,
	.footer {
		grid-column: 1 / -1;
		clear: both;
		border: 1px solid black;
		text-align: center;
		font-family: 'Anton', sans-serif;
		letter-spacing: 15px;
		font-weight: 100;
		background-color: hsl(108, 40%, 58%);
		height: 120px;
		box-shadow: 8px 8px 5px black;
	}

	#logo {
		max-width: 150px;
		max-height: 150px;
		display: relative;
		float: left;
	}

	.header h1 {
		font-size: auto;
		color: white;
	}
}

.wrapper > * {
	color: black;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
	margin-bottom: 10px;
}

@supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin: 0;
	}
}
